(@import "tailwindcss")

/* universal */
.noto-serif {
    font-family: "Noto Serif", serif;
}

.inter {
    font-family: "Inter",
        sans-serif;
}

.hover:hover {
    color: #E95A08;
}

/* part-1 */
.nav-list {
    /* list-style: none; */
    display: flex;
    gap: 25px;
}

.nav-list a {
    text-decoration: none;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 680px;
    padding-top: 24px;
}

.home {
    color: #252432;
    font-weight: bold;
}

.shop {
    color: rgba(149, 135, 161, 1);
}

.cart {
    color: #000000;
}

/* 2nd part */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 120px;
    gap: 80px;
    margin-bottom: 120px;
}

.always {
    font-size: 4rem;
    font-weight: bold;
    color: #000000;

    margin-right: 15px;
}

.fresh-flowers {
    font-size: 4rem;
    font-weight: bold;
    color: #E95A08;
    font-family: "Noto Serif", serif;
}


.banner-content-description {

    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    list-style: square;
}



/* third part */
.mini-title-description {
    text-align: center;
    margin-right: 10px;
    margin-bottom: 75px;
}

.our {
    font-size: 3.1rem;
    font-weight: bold;
    color: #E95A08;
    font-family: "Noto Serif", serif;
}

.plants {
    font-size: 3.1rem;
    font-weight: bold;
    color: #000000;
    font-family: "Noto Serif", serif;
}

/* fourth part */
.card-1 {
    background-color: white;
    border: 1px solid white;
    border: none;


}

.card-title {
    color: rgba(17, 17, 17, 1);
    font-size: 1.3rem;
    padding-left: 70px;
    padding-bottom: 10px;
    padding-top: 10px;
}


.card-price {
    color: rgba(17, 17, 17, 1);
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 90px;
    padding-bottom: 10px;
}

.card-btn {
    background-color: #E95A08;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 80px;
    border: none;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    width: 89%;
    row-gap: 25px;
    margin-bottom: 180px;
}

/* fifth part */
.second-banner-container {
    display: flex;
    justify-content: center;
    gap: 490px;
    padding-bottom: 200px;
}

.second-banner-img1 {
    position: absolute;
    z-index: 1;
}


.second-banner-img2 {

    width: 250px;
    height: 250px;
    position: relative;
    z-index: 2;
    left: 380px;
    top: -100px;

}

.our {
    padding-right: 10px;
}

.rumi:hover {
    background-color: #E95A08;
    color: black;
}

.full-website {
    margin: 0 auto;
}

.join {
    animation: join 3s ease-in-out infinite;
}

.nusrat {
    animation: join 3s ease-in-out infinite;

}

@keyframes join {
    0% {
        opacity: 0.5;
        background-color: aqua;
    }

    25% {
        opacity: 0.8;
        background-color: rgb(211, 211, 127);
    }

    50% {
        opacity: 1;
        background-color: slateblue;
    }

    100% {
        opacity: 2;
        background-color: rgb(221, 132, 132);
    }
}

@keyframes nusrat {
    0% {
        opacity: 0.5;
        background-color: aqua;
    }

    25% {
        opacity: 0.8;
        background-color: rgb(211, 211, 127);
    }

    50% {
        opacity: 1;
        background-color: slateblue;
    }

    100% {
        opacity: 2;
        background-color: rgb(221, 132, 132);
    }
}

.myDIV {
    animation-direction: alternate;
}

.rotation {
    animation: rotate 5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.logo {
    width: 100px;
    animation: spin 4s linear infinite, glow 2s infinite alternate;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1);
    }

    100% {
        transform: rotate(360deg) scale(1.1);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px #0ff;
    }

    100% {
        box-shadow: 0 0 20px #0ff;
    }
}

.logo-star {
    width: 100px;
    transform: translateX(-100px);
    opacity: 0;
    animation: slideIn 2.2s ease-out forwards infinite;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/* responsive work */

@media screen and (max-width: 576px) {

    .home,
    .shop {
        display: none;
    }

    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 200px;
        padding-top: 24px;
    }

    .cart {
        color: #000000;
        padding-top: 30px;
    }

    .banner-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-end;
        margin-top: 120px;
        gap: 80px;
        margin-bottom: 120px;
        margin-left: 2px;
    }

    .always {
        font-size: 1.5rem;
        font-weight: bold;
        color: #000000;

        margin-right: 15px;
    }

    .fresh-flowers {
        font-size: 1.5rem;
        font-weight: bold;
        color: #E95A08;
        font-family: "Noto Serif", serif;
    }

    .break {
        display: none;
    }


    .banner-content-description {

        color: rgba(0, 0, 0, 0.5);
        font-size: 1.3rem;
        list-style: square;
        margin-left: 30px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        width: 89%;
        row-gap: 25px;
        column-gap: 18px;
        margin-bottom: 180px;
    }

    .card-btn {
        background-color: #E95A08;
        color: white;
        font-size: 1rem;
        font-weight: 600;
        padding: 10px 50px;
        border: none;
    }

    .second-banner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 600px;
        padding-bottom: 200px;
    }

    .second-banner-img1 {
        position: absolute;
        z-index: 1;
        width: 430px;
        margin: 30px;
    }


    .second-banner-img2 {
        display: none;
        width: 250px;
        height: 250px;
        position: relative;
        z-index: 2;
        left: 380px;
        top: -100px;

    }

    .our {
        padding-right: 10px;
    }

    .second-banner-content-title,
    .banner-content-title {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .card-title {
        color: rgba(17, 17, 17, 1);
        font-size: 1.3rem;
        padding-left: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
    }


    .card-price {
        color: rgba(17, 17, 17, 1);
        font-size: 1.3rem;
        font-weight: bold;
        padding-left: 70px;
        padding-bottom: 10px;
    }

    .card-btn {
        background-color: #E95A08;
        color: white;
        font-size: 1rem;
        font-weight: 600;
        padding: 10px 50px;
        border: none;
    }

}